#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
${symbol_pound}${symbol_pound}${symbol_pound} ${artifactId} ${symbol_pound}${symbol_pound}${symbol_pound}
${artifactId}*.log

${symbol_pound}${symbol_pound}${symbol_pound} Maven ${symbol_pound}${symbol_pound}${symbol_pound}
target/

${symbol_pound}${symbol_pound}${symbol_pound} MAC ${symbol_pound}${symbol_pound}${symbol_pound}
*.DS_Store

${symbol_pound}${symbol_pound}${symbol_pound} STS ${symbol_pound}${symbol_pound}${symbol_pound}
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

${symbol_pound}${symbol_pound}${symbol_pound} IntelliJ IDEA ${symbol_pound}${symbol_pound}${symbol_pound}
.idea
*.iws
*.iml
*.ipr

${symbol_pound}${symbol_pound}${symbol_pound} NetBeans ${symbol_pound}${symbol_pound}${symbol_pound}
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

${symbol_pound}${symbol_pound}${symbol_pound} Eclipse ${symbol_pound}${symbol_pound}${symbol_pound}
.metadata

${symbol_pound}${symbol_pound}${symbol_pound} DB4O ${symbol_pound}${symbol_pound}${symbol_pound}
**/*.db4o

${symbol_pound}${symbol_pound}${symbol_pound} SoupUI ${symbol_pound}${symbol_pound}${symbol_pound}
**/soapui*.log

${symbol_pound}${symbol_pound}${symbol_pound} Ignore int test log file ${symbol_pound}${symbol_pound}${symbol_pound}
**/rest*.log
${symbol_pound} ignore logs put in the project root
/*.log

${symbol_pound}${symbol_pound}${symbol_pound} Platform ${symbol_pound}${symbol_pound}${symbol_pound}
.docker-jar-project-marker
/bin/
